.form
  = form_for @vocabulary do |f|
    .title
      = f.label :title, "タイトル"
      = f.text_field :title, class: "text_field"
    .content
      = f.label :content, "詳細"
      = f.text_area :content, class: "text_area"
    .genre
      = f.label :genre_id, "ジャンル"
      = f.collection_select :genre_id, Genre.all, :id, :name, prompt: "---", required: ""
    = f.submit "更新"
  = link_to '削除', @vocabulary, method: :delete
  = link_to '戻る', root_path
